{% extends 'base.html.twig' %}

{% block title %}Toutes vos commandes{% endblock %}

{% block body %}
    <h1>Toutes vos commandes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.id }}</td>
                <td>{{ commande.reservation }}</td>
                <td>
                    <a href="{{ path('commande_show', {'id': commande.id}) }}">show</a>
                    <a href="{{ path('commande_edit', {'id': commande.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% if is_granted('ROLE_CLIENT') or is_granted('ROLE_ADMIN')  %}
    <a href="{{ path('commande_new') }}">Créer une nouvelle commande</a>

   {% endif %} 

{% endblock %}
