{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
    <h1>Commande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commande.id }}</td>
            </tr>
            <tr>
                <th>Magasin</th>
                <td>{{ commande.magasin }}</td>
            </tr>
            <tr>
                <th>Réservé pour </th>
                <td>{{ commande.reservation }}</td>
            </tr>
            <tr>
                <th>Produit</th>
                {% for next in commande.produit %}
                <td>{{ next }} 

                {% if next.stock > 0 %}
                (En stock)
                {% else %}
                (Pas en stock)
                {% endif %}
                </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>

    <a href="{{ path('commande_index') }}">back to list</a>

    <a href="{{ path('commande_edit', {'id': commande.id}) }}">edit</a>

    {{ include('commande/_delete_form.html.twig') }}
{% endblock %}
